.DS_Store
.env
.idea
.vagrant
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
Vagrantfile
vendor
public/wordpress
public/plugins
public/uploads/.cache
node_modules
public/wflogs
public/upgrade