.DS_Store
.env
.idea
.vagrant
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
Vagrantfile
vendor
public/wordpress
# public/mu-plugins
public/plugins/*
!public/plugins/index.php
public/uploads/.cache
node_modules
public/wflogs
public/upgrade